<%- include("partials/header"); -%>

    <div class="post-item">
        <h1>Home</h1>
        <p><%= startingContent %></p>
    </div>

    <!--<%# for (let i = 0; i < dailyPostList.length; i++) { %>
        {# <div class="post-item">
            <h2><%#= dailyPostList[i].title %></h2>
            <p><%#= dailyPostList[i].content %></p>
        </div> #}
    <%# } %>-->

    <% dailyPostList.forEach(function (post) { %>
        <div class="post-item">
            <h2><%= post.title %></h2>
            <p>
                <%= post.content.substring(0, 100) + " ..." %>
                <a href="/posts/<%= post.title %>">Read More</a> 
            </p>
        </div>
    <% }) %> 

<%- include("partials/footer"); -%> 
